# Ignorar la carpeta de dependencias de Node.js
node_modules/
.pnpm-store/

# Ignorar archivos de registro (logs)
npm-debug.log*
yarn-error.log
*.log

# Ignorar archivos de variables de entorno
# Estos archivos contienen información sensible como contraseñas o claves de API
.env
.env.local
.env.development
.env.production

# Ignorar archivos de sistema operativo que se generan automáticamente
.DS_Store
Thumbs.db

# Ignorar directorios de caché de editores de código comunes
.vscode/
.idea/

# Ignorar .htaccess para despliegues específicos

# .htaccess




