<footer class="bg-gray-800 dark:bg-black">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 text-center">
        <p class="text-gray-400">
          &copy; <span id="currentYear"></span> Nelson Londoño Agencia. Todos
          los derechos reservados.
        </p>
        <p class="text-xs text-gray-500 mt-1">
          Diseñado con <i class="fas fa-heart text-red-500"></i> en Madrid.
        </p>
        <p class="text-xs text-gray-500 mt-2">
          <a href="#" id="open-cookie-settings" class="hover:underline"
            >Configuración de Cookies</a
          >
        </p>
        <p class="text-xs text-gray-500 mt-2"></p>
      </div>
    </footer>