<section id="inicio-servicio" class="relative overflow-hidden">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8 flex flex-col items-center justify-center text-center min-h-[75vh]">
    
    <!-- Placeholders para iconos flotantes -->
    {{HERO_ICON_1}}
    {{HERO_ICON_2}}
    {{HERO_ICON_3}}

    <div class="max-w-4xl relative z-10">

      <h1 class="text-base sm:text-lg lg:text-xl font-medium text-primary-green dark:text-primary-green opacity-0 animate-slide-in-right uppercase">
        {{HERO_TITLE}}
      </h1>
      <p class="mt-4 sm:mt-6 text-4xl sm:text-5xl lg:text-7xl font-black bg-clip-text text-transparent hero-gradient-text opacity-0 animate-slide-in-left leading-[1.15] lg:leading-[1.1] text-left sm:text-center" style="animation-delay: 0.2s">
        {{HERO_SUBTITLE_MAIN}}
      </p>
      <p class="mt-6 sm:mt-10 text-xl sm:text-4xl font-thin text-gray-600 dark:text-gray-300 opacity-0 animate-scale-in-core text-left sm:text-center" style="animation-delay: 0.4s">
        {{HERO_SUBTITLE_SECONDARY}}
      </p>
    </div>
  </div>
</section>
